.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
  
.title {
font-size: 2.5rem;
margin-bottom: 2rem;
}

.timer {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

