.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
  
.title {
    font-size: 2.5rem;
    color: #ff4136;
    margin: 0;
}

.timeLeft {
    font-size: 12rem;
    font-weight: bold;
    width: 10rem;
    text-align: center;
    width: 100%;
}

