@font-face {
  font-family: 'Iosevka';
  src: url('/src/fonts/iosevka-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: 'Iosevka', sans-serif;
  color: #ffffff;
  background-color: #111111;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
}

.App {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}