.header{
  display: flex;
  justify-content: end;
  padding: 1.5rem 0;
  width: calc(100% - 2em);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column; 
  list-style: none;
  padding-left: 0px;
}

li {
  margin: 0.5rem 0.5rem;
}

a {
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 0.8rem 1rem;
  border: 0.15rem solid #fff;
  border-radius: 10px;
}

a:hover{
  color: #000 !important;
  background-color: #fff;
}

a:visited{
  color: #fff;
}
