.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
  }

  .left {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  .main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: normal;
    margin: 0 0 0 1.5rem;
  }
  
  .info {
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.5rem;
  }

  .tempo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }

  .containerTempo {
    display: flex;
    flex-direction: column;
    font-size: 4.5vw;
    flex: 0.5;
  }

  .containerPhase {
    display: flex;
    
  }

  .labelPhase {
    flex: 1; 
  }

  .tempoPhase {
    display: flex;
    text-align: center;
  }

  .round {
    color: #ff4136;
  }

  .completed { 
    color: #ff4136;
    font-size: 5rem;
    text-align: center;
  }
  
  .timer {
    font-size: 12rem;
    font-weight: bold;
    width: 10rem;
    text-align: center;
  }
  
  .resetButton {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .resetButton:hover {
    background-color: #fff;
    color: #222;
  }
  
  .activePhase {
    color: #000;
    background-color: #Fff;
  }
  
  .inactivePhase {
    color: #fff; /* Change to your desired inactive phase color */
  }

  .reps {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vw;
    border: solid 2px;
    border-radius: 25px;
    padding: 15px;
  }