.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
  }

  .left {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  .main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: normal;
    margin: 0 0 0 1.5rem;
  }
  
  .info {
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.5rem;
  }

  .tempo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px;
    border-radius: 50%;
    height: 30em;
    width: 30em;
  }

  .containerTempo {
    display: flex;
    font-size: 4.5vw;
  }

  .containerPhase {
    display: flex;
    
  }

  .labelPhase {
    flex: 1; 
  }

  .tempoPhase {
    display: flex;
    text-align: center;
  }

  .round {
    color: #ff4136;
  }

  .completed { 
    color: #ff4136;
    font-size: 5rem;
    text-align: center;
  }
  
  .timer {
    font-size: 12rem;
    font-weight: bold;
    width: 10rem;
    text-align: center;
  }
  
  .resetButton {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 25px;
  }
  
  .resetButton:hover {
    background-color: #fff;
    color: #222;
  }
  
  .activePhase {
    color: #000;
    background-color: #Fff;
  }
  
  .inactivePhase {
    color: #fff; 
  }

  .reps {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vw;
  }

  footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  /*test countdown */
  .countdown {
    height: 40px;
    width: 40px;
    text-align: center;
  }
  
  .countdownNumber {
    color: white;
    display: inline-block;
    line-height: 40px;
  }
  
  .svgCircle {
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  .svgCircle circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: white;
    fill: none;
    animation: countdown var(--timeLeft) linear infinite forwards;
  }
  
  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }

  