.info{
    text-align: end;
    width: 40px;
}

.inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
  }

.button {
    background-color: transparent; 
    border: none;
    color: #fca311;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    width: 26px;
    height: 42.5px;
    font-weight: bold;
    position: absolute;
}

.button:active {
    transform: scale(0.9);
}

.decrementButton {
    left: 14px;
}
  
.incrementButton {
    right: 14px;
}

/* disable arrows from the Number input in chrome/safari/edge and opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input {
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border: 0.15rem solid #fff;
    margin: 0.5rem 0.5rem;
    background-color: transparent;
    color: #fff;
    min-width: 3rem;
    max-width: 6rem;
    border-radius: 15px;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    text-align: center;
}

.duration{
    text-align: start;
    width: 40px;
}