.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

  }
  
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
  }

  .left {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  .img {
    width: 30px;
    height: 30px;
    margin-left: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: normal;
    margin: 0 0 0 1rem;
  }

  .main {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }

  .inputsContainer{
    display: flex;
    flex-direction: column;
  }

  .submitButton {
    font-size: 1rem;
    border: 0.15rem solid #fff;
    margin: 0.5rem 4.5rem;
    padding: 0.8rem 1rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 25px;
  }
  
  .submitButton:hover {
    background-color: #fff;
    color: #222;
  }

  
 


  