.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .input {
    font-size: 3.5vw;
    padding: 1rem 2rem;
    border: .25rem solid #fff;
    margin-bottom: 1rem;
    background-color: transparent;
    color: #fff;
  }
  
  .submitButton {
    font-size: 3.5vw;
    padding: 1rem 2rem;
    border: .25rem solid #fff;
    margin-bottom: 1rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .submitButton:hover {
    background-color: #fff;
    color: #222;
  }
  