.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

  }
  
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
  }

  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
  }

  .left {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: normal;
    margin: 0 0 0 1.5rem;
  }

  .tempoContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .info{
    flex: 1;
    text-align: end;
  }

  .duration{
    flex: 1;
    text-align: start;
  }

  .input {
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border: 0.15rem solid #fff;
    margin: 0.5rem 0.5rem;
    background-color: transparent;
    color: #fff;
    width: 4rem;
    flex: 1;
  }
  
  .inputWrapper {
    display: flex;
    align-items: center;
  }

  .submitButton {
    font-size: 1rem;
    border: 0.15rem solid #fff;
    margin: 0.5rem 4.5rem;
    padding: 0.8rem 1rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .submitButton:hover {
    background-color: #fff;
    color: #222;
  }
  