.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
  }
  
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .left {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: normal;
    margin: 0 0 0 1.5rem;
  }
  
  .info {
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.5rem;
  }

  .tempo {
    font-size: 4.5vw;
    width: 5rem;
  }

  .phase {
    display: flex;
    text-align: center;
    flex: 1;
    flex-direction: column;
  }

  .round {
    color: #ff4136;
  }

  .completed { 
    color: #ff4136;
    font-size: 5rem;
    text-align: center;
  }
  
  .timer {
    font-size: 12rem;
    font-weight: bold;
  }
  
  .resetButton {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .resetButton:hover {
    background-color: #fff;
    color: #222;
  }
  
  .activePhase {
    color: #000;
    background-color: #Fff;
  }
  
  .inactivePhase {
    color: #fff; /* Change to your desired inactive phase color */
  }